<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ajax practice</title>
</head>
<body>
<section>
  <header><h1>AJAX Examples</h1></header>
  I've coded out a few examples using AJAX. (Still working on some bugs)
</section>
<section>
  <header><h1>Example 1: GET request with synchronous response</h1></header>
  For example one, remove the block comment around the code in public/javascripts/script.js.
</section>
<section>
  <header><h1>Example 2: form encoding</h1></header>
  For example two, remove the block comment around the code in public/javascripts/script.js and the one around the code in this file's script.
</section>
<section>
  <header><h1>Example 3: File Upload</h1></header>
  For example three, remove the block comment around the code in public/javascripts/script.js.<br />
  <input type="file" name="info" multiple/>
  <button>Upload the File</button>
</section>
<section>
  <header><h1>Example 4</h1></header>
  <div id="four"></div>
</section>
<section>
  <header><h1>Example 5</h1></header>
</section>

<script src="/javascripts/script.js">
  // Part of example 2
  /*
   var request = new XMLHttpRequest();
   request.open('PUT', '/test');
   request.setRequestHeader('Content-Type', 'application/json');
   request.addEventListener('readystatechange', function () {
   console.log('ready state has changed to', request.readyState);
   if (request.readyState === 4 && request.status === 200){
   getEncoded(data);
   }
   request.send(getEncoded(data));
   */

  // part of example 4
</script>
</body>
</html>